@page {
    margin:0cm;
    size: A5;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    max-width: 14.8cm;
    margin: 0 auto;
    background-image: url(images/bg.jpg);
    background-size: 100%;
    min-height: 21cm;
    max-height: 21cm;
}
input{
    background: transparent;
    border: none;
    outline : 1px solid red;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    font-family: 'Times New Roman', Times, serif;
}
.period-dates{
    padding: 35.4% 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.period-dates .period-from{
    margin-left: 8%;
    flex: 0 0 42%;
    margin-bottom: 0.8%;
}
.period-dates input{
    height: 0.33cm;
}
.period-dates input.day{
    width: 9%;
}
.period-dates input.month{
    width: 37%;
}
.period-dates input.year{
    width: 9%;
}

.period-dates .period-from .month{
    margin-right: 8%;
}
.period-dates .period-from .day{
    margin-right: 2%;
}
.period-dates .period-to .month{
    margin-right: 4%;
}
.period-dates .period-to .day{
    margin-right: 2%;
}
.period-dates .period-to{
    margin-right: 1%;
    flex: 0 0 42%;
}

.full-width{
    width: 84%;
    margin: 0 7.8%;
}
.insurance-firm{
    margin-bottom: 1.5%;
}
.insurance-object{
    margin-bottom: 3%;
}
.subject-phone {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12.5%;
}
.subject-phone input{
    width: 68%;
    margin-right: 2.5%;
    letter-spacing: 0.65cm;
    line-height: 1;
}
.transport-info{
    display: flex;
    flex-wrap: wrap;
    padding-left: 6.5%;
    margin-bottom: 2%;
}
.transport-info .mark{
    width: 19%;
    margin-right: 2.6%;
}
.transport-info .issue-year{
    width: 9%;
    margin-right: 3.4%;
}
.transport-info .generator-number{
    width: 14.6%;
    margin-right: 3%;
}
.transport-info .carcase-number{
    width: 17%;
    margin-right: 3%;
}
.transport-info .governtment-number{
    width: 18%;
}
.subject-profession,.transport-users{
    display: flex;
    justify-content: flex-end;
    padding-right: 8%;
    margin-bottom: 3%;
}
.subject-profession input,.transport-users input{
    width: 53%;
}
.transport-users{
    margin-bottom: 11%;
}
.users-can-drive{
    padding-left: 13%;
}
.users-can-drive input{
    height: .25cm;
}
.users-can-drive .user-item{
    display: flex;
    margin-bottom: 1.6%;
}
.users-can-drive .user-item .fio{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
}
.user-item .driver-info {
    padding-top: 3%;
    width: 20%;
}
.user-item .driver-info input{
    height: 30%;
}
.users-can-drive .user-item .driver-info{
    display: flex;
    margin-right: 2%;
}
.user-item .driver-info .serial{
    width: 20%;
    margin-right: 18%;
}
.user-item .driver-info .number{
    width: 47%;
    margin-right: 1%;
}
.user-item .relationship{
    padding-top: 1.6%;
}
.user-item .relationship input{
    width: 65%;
    height: 27%;
}