<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.ssd.canvas">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_printer"
        android:label="Canvas print"
        android:roundIcon="@drawable/ic_printer"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".osago.BlueDoc1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".osago.BlueDoc2"/>
        <activity android:name=".osago.RedDoc1"/>
        <activity android:name=".Travel"/>
        <activity android:name=".osago.RedDoc2"/>
        <activity android:name=".kasko.Kasko1"/>
    </application>

</manifest>